### Java template
# Compiled class file
*.class

# Log file
log/
logs/
*.log


# Intellij
.idea/
*.iml

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

# target files
target/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# svn files
.svn/

# maven files
.mvn/
mvnw
mvnw.cmd
